body {
  background-color: white;
  margin: 50px;
  border-bottom: 5px;
  border-bottom-color: black;
  border-top: 5px;
  border-top-color: black;

}

img{
  border: 1px;
  border-color: black;
}

img.round{
  border-radius: 50%;
}

h1 {
  text-align: center;
  font-family: Courier New;
  text-transform: uppercase;
}

h3 {
  color: blue;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

